#headerpicture{
	margin-top: 167px;
}
.person1 img{
	float: right;
	margin-right: 203px;
	margin-top: -62px;
	width: 204px;
}
.poninter img{
	width: 262px;
	float: left;
	
	
}
.person2 img{
	float: left;
	width: 262px;
}