/*reset  code by xj*/
* {outline: 0;padding: 0;margin: 0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
html{width: 100%;}
input,button,select,textarea{outline:none}
textarea{resize:none}
ul{margin: 0;}
a img{ border:none}
a{text-decoration: none;}
/*header*/

.header-img{width: 100% ;background: url(../images/list-header.png) 50% 50%;height: 216px;}
.header-img img{display: block; margin: 0 auto;}
 input.input-box{
	margin: 12px 0 12px 12px;
	border:1px solid #7A6F6F;  
    border:1px solid #7A6F6F \9;/*IE*/  
    width:200px;  
    height:20px;/*非IE高度*/  
    height:20px \9;/*IE高度*/  
    padding-left:5px; /*all*/  
    line-height:20px \9;/*IE*/  
    -moz-border-radius:3px;/*Firefox*/  
    -webkit-border-radius:3px;/*Safari和Chrome*/  
    border-radius:3px;/*IE9+*/  
    background-color:white;  
    outline:none;  
}
 input:focus{
	border-color:#78BAED;  
    outline:1px solid #78BAED;/*chrome*/
}
.header-left ,.header-mid{float: left;}
.header-left,.header-right,.header-mid {height: 216px;}
.header-left,.header-right{width: 244px;}
.header-mid{width: 1000px;}
.header-right{float: left;}
label{display: block;height: 45px;font-family: "宋体";font-size: 14px;font-weight: bold;background: url(../images/search-border.png) no-repeat;margin-left: 700px;}
label  .input-btn{font-family: "宋体";font-size: 14px;font-weight: bold;position: relative; right: 35px;
top: 4px;width: 13px;background-color: rgba(0, 0, 0, 0);
border: none; 
filter: alpha(opacity=0);  }
label img{position: relative;right: 20px;
top: 4px;}
/*container*/
.container {background: url(../images/list-bg.jpg) repeat;}
.container h3{margin: 60px 0 40px 0; text-align: center;font-family: "微软雅黑";font-size: 24px;}
.container-mid { overflow: hidden;width: 1000px;margin: 0 auto;padding: 0 12px;}
.container-mid p{font-size: 14px;font-family: "宋体";line-height: 24px;}
.container-mid .text p{font-family: "微软雅黑";font-size: 18px;line-height: 40px;}
.container-mid  .title-photo {width: 52.8%;margin-bottom: 50px;}
.container-mid #subtext{float: right;font-size: 14px;font-family: "宋体";margin: 19px 82px 0 0;}
.container-mid .main-content {margin-bottom: 60px;overflow: hidden;}
.title-photo img{width: 190%;}

.container-list .text{color: #fff;text-align: center;line-height: 26px;background: url(../images/text-bg.jpg);}
.container-list p{display: block;width: 118px;height: 44px;background: #c10003;}
.container-list {margin-bottom: 60px; }
.container-list .list {border-right: 1px solid #b5b5b5;border-bottom: 1px solid #b5b5b5;border-left: 1px solid #b5b5b5;background: #fff;}
.container-list .list .t-body{padding: 20px 46px 95px 46px;}
.list input{margin: 10px;outline:none;border: solid 1px rgb(181,181,181);background: #fff;width: 119px;height: 34px;}
.list input::-moz-focus-inner{border:0;}
.list input:hover{background:#e2e0e0;cursor: pointer; }
table{text-align: center;}
td {width: 11.9%;}

/*bottom:*/
.bottom {background: url(../images/list-bottom.jpg) repeat;height: 188px;text-align: center;overflow: hidden;
width: 100%;}
.bottom .bottom-nav {
float: left;
overflow: hidden;
margin: 15px 289px;
width: 100%}
.bottom a{
display: block;
float: left;
padding-right: 14px;
padding-left: 14px;
border-right: 1px solid rgb(148,24,24);
height: 17px;
color: rgb(148,24,24);
font-size: 12px;
font-family: "宋体";
}
.bottom a:hover{color: rgb(232,57,41);}
.bottom p {margin:0;position: relative;top: 32px;color: #A0A0A0;font-size: 12px;font-family: "宋体";}
.bottom-nav .b-link{width: 1000px;margin: 0 auto;}
.bottom .bottom-last{border: none;}